.control-buttons {
    background-color: rgba($color-white, 0.8);
    width: 100%;
    height: 10rem;
    padding: 0 5rem;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 1;
    pointer-events: all;
    transition: all 0.5s ease-in-out;
    z-index: 2;

    &__previous,
    &__reset,
    &__analyse,
    &__next {
        margin: 0;
    }

    &__reset {
        margin-left: 5rem;
    }

    &__disabled {
        opacity: 0.7;
        pointer-events: none;
    }

    &--shrink {
        width: calc(100% - 30vw);
    }
}
