.coordinates {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    &__box {
        width: 90%;
        height: 5rem;
        margin: 1rem;
        padding: 0 1rem;
        border-radius: 0.3rem;
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        &--yolo {
            background-color: $color-blue;

            &-disable {
                background-color: rgba($color-blue, 0.6);
            }
        }

        &--model-b {
            background-color: $color-red;

            &-disable {
                background-color: rgba($color-red, 0.6);
            }
        }

        &--interpolation {
            background-color: $color-green;

            &-disable {
                background-color: rgba($color-green, 0.6);
            }
        }

        &--user {
            background-color: $color-grey-dark-2;
        }

        &--error {
            background-color: $color-white;
            border: 0.4rem solid $color-red;
        }
    }

    &__title {
        color: $color-white;
        padding: 0.5rem 1rem;
        border-radius: 0.3rem;
        box-shadow: 0 2rem 4rem rgba($color-black, 0.5);
        position: absolute;
        top: -30%;
        left: -5%;

        &--yolo {
            background-color: $color-blue;
        }

        &--model-b {
            background-color: $color-red;
        }

        &--interpolation {
            background-color: $color-green;
        }

        &--user {
            background-color: $color-grey-dark-2;
        }

        &--error {
            color: $color-black;
            background-color: $color-white;
            border: 0.4rem solid $color-red;
        }
    }

    &__value {
        color: $color-white;
        font-size: 1.5rem;
        font-weight: 600;
        text-align: right;
        margin: 0;

        &--error {
            color: $color-black;
        }
    }

    &__tooltip {
        color: $color-white;
        background-color: rgba($color-black, 0.8);
        border-radius: 0.3rem;
        box-shadow: 0 2rem 4rem rgba($color-black, 0.5);
        padding: 1rem 2rem;
        position: absolute;
        top: 20rem;
        left: 0;
        opacity: 0;
        pointer-events: none;
        transform: translateX(-20rem);
        transition: all 0.3s ease-in-out;
    }

    &:hover > &__tooltip {
        opacity: 1;
        transform: translateX(-25rem);
    }
}
