.resizable-box {
    background: rgba($color-white, 0.2);
    width: 10rem;
    height: 10rem;
    position: absolute;
    top: 10rem;
    left: 10rem;
    transition: opacity 0.3s ease-in-out;
    z-index: 1;

    &__resizers-container {
        width: 100%;
        height: 100%;
        border: 0.3rem solid $color-grey-dark-2;
    }

    &__resizer {
        background-color: $color-white;
        width: 2rem;
        height: 2rem;
        border: 0.3rem solid $color-grey-dark-2;
        border-radius: 50%;
        position: absolute;

        &--top-left {
            left: -1rem;
            top: -1rem;
            cursor: nwse-resize;
        }
        &--top-right {
            right: -1rem;
            top: -1rem;
            cursor: nesw-resize;
        }
        &--bottom-left {
            left: -1rem;
            bottom: -1rem;
            cursor: nesw-resize;
        }
        &--bottom-right {
            right: -1rem;
            bottom: -1rem;
            cursor: nwse-resize;
        }
    }

    &--hidden {
        opacity: 0;
        pointer-events: none;
    }
}

.resizable-box-yolo,
.resizable-box-model-b,
.resizable-box-interpolation {
    position: absolute;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
    z-index: 0;

    &--disable {
        opacity: 0;
    }
}

.resizable-box-yolo {
    border: 0rem solid $color-blue;
}

.resizable-box-model-b {
    border: 0rem solid $color-red;
}

.resizable-box-interpolation {
    border: 0rem solid $color-green;
}
